@use "sass:map";
@import "style/pages/all.scss";

.container__categories_slider {
    max-width: 1230px !important;
    margin-top: 30px !important;
    margin-left: 18%;

    .categories_slider {
        .categories_slider_items {
            height: 500px;
            position: relative;
            background-repeat: no-repeat;
            background-size: 350px;
            background-position: top center;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.5s ease; /* Thêm hiệu ứng chuyển đổi */
            cursor: pointer;

            &:hover {
                transform: scale(0.85); /* Thu nhỏ hình ảnh khi di chuột qua */
                p {
                    background: map-get($theme-colors, "main");
                    color: rgb(237 237 237);
                    bottom: -12px;
                }
            }
        }
    }

    p {
        position: absolute;
        left: 10%;
        bottom: 10px;
        text-align: center;
        font-size: 18px;
        color: transparent;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 0 10px;
        width: 250px;

        &:hover {
            background: map-get($theme-colors, "main");
            color: rgb(237 237 237);
            border-radius: 50px;
            bottom: -10px;
        }
    }
}

.featured{
    margin-top: 50px ;

    .section-title{
        margin-bottom: 50px;

        text-align: center;

        h2{
            position: relative;
        }

        h2:after{
            position: absolute;
            left: 0;
            bottom: -15px;
            right: 0;
            height: 4px;
            width: 80px;
            background: map-get($theme-colors, "main" );
            content: "";
            margin: 0 auto;

        }
    }

    .react-tabs{

        ul{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }

        li {
            list-style: none;
            font-size: 18px;
            color: map-get($theme-colors, "normal-text" );
            display: inline-block;
            margin-right: 25px;
            position: relative;
            cursor: pointer;      
          }
    }

    .featured__item{
        margin-bottom: 50px;
        margin-left:  38px; 
        transition: transform 0.4s ease;
        

        &:hover{
            .featured__item__pic__hover{
                bottom: -15%  !important;
                
            }
            transform: scale(0.95);
        }

        .featured__item__pic{
            height: 270px;
            position: relative;
            overflow: hidden;
            background-position:center ;
            border-radius: 10px;
            background-image: cover;

            // hover ảnh feature
            // làm thế nào để viết js trong css
            // .featured__item__pic.default-img:hover {
            //     background-image: url(${items.hoverImg});
            // }

            .featured__item__pic__hover{
                position: absolute;
                left: 0;
                bottom: -40%;
                width: 100%;
                text-align: center;
                transition:  all 0.5s;

                li{
                    list-style: none;
                    display: inline-block;
                    margin-right: 10px;

                    &:hover {
                        svg{
                            background: #7fad39;
                            border-color: #7fad39;
                            border-radius: 50px;
                            color: #ffffff;
                            transform: rotate(360deg) !important;
                        }
                    }

                    svg {
                        padding: 10px;
                        height: 20px;
                        width: 20px;
                        border: 1px ;
                        background: #ffffff;
                        border-radius: 50px;
                        color: #1acc23;
                        transform: all 0.3s;
                    }
                }
            }
        }

        .featured__item__text{
            text-align: center;
           

            h6 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
            
                a {
                    color: map-get($theme-colors , "main" );
                    text-decoration: none;
                    transition: color 0.5s ease; /* Thêm hiệu ứng chuyển đổi màu sắc */
            
                    &:hover {
                        color: map-get($theme-colors , "secondary" ); /* Thay đổi màu sắc khi di chuột qua */
                    }
                }
            }
            h5 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                border: 1px solid #1acc23;
                transition: box-shadow 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi đổ bóng và biến đổi */
            
                &:hover {
                    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Thêm đổ bóng khi di chuột qua */
                    transform: scale(1.05); /* Tăng kích thước khi di chuột qua */
                }
            
                a {
                    color: map-get($theme-colors , "main" );
                    text-decoration: none;
                    transition: color 0.5s ease; /* Thêm hiệu ứng chuyển đổi màu sắc */
            
                    &:hover {
                        color: map-get($theme-colors , "secondary" ); /* Thay đổi màu sắc khi di chuột qua */
                    }
                }
            }
        }

    }
}


.banner {
    margin-left: 10%;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

    .banner__pic {
        position: relative;
        width: 500px; /* Đặt chiều rộng tùy chỉnh */
        height: 300px; /* Đặt chiều cao tùy chỉnh */
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: opacity 1s ease-in-out;
            border-radius: 20px; /* Thêm bo góc cho hình ảnh */

            &:hover {
                opacity: 0;
            }
        }

        .top:hover {
            opacity: 0;
        }
    }
}


